@use '@angular/material' as mat;

.task-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    box-sizing: border-box;
    width: 100%;

    mat-expansion-panel{
        width: 100%;
        div{
            display: flex;
            gap: 10px;
            justify-content: end;
            mat-icon{
                cursor: pointer;
            }
        }
    }
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
.concluded {
  @include mat.expansion-overrides((
    container-background-color: #d1e4cb
  ));  
}
.pending {
  @include mat.expansion-overrides((
    container-background-color: #ebe0e0
  ));
}
.in-progress{
    @include mat.expansion-overrides((
    container-background-color: #f7f8e8
  ));
}